<footer class="bs-docs-footer">
    <div class="container">
        footer-footer-footer&copy;footer-footer
    </div>
</footer>

<style>
    .bs-docs-footer .container {
        height: 150px;
        background-color: #2a2730;
        width: 100%;
        color: #fff;
        text-align: center;
        line-height: 150px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    footer {
        margin-top: 150px;
    }
</style>